<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571741417959-m6st0nosksihefgbfqndtg08ugpa0bs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571741417959-m6st0nosksihefgbfqndtg08ugpa0bs0</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ydy7vd1I_fHxe726IKdJfFtQtZhkhAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>571741417959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitness-nutrition-app-76e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-nutrition-app-76e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571741417959:ios:880c51fa342f20f4b2cd42</string>
</dict>
</plist>